html{
  overflow-x: hidden;
}

/* variável que controla a cor da sombra/borda nos modos claro/escuro */
:root{
  --shadow-bg-color: rgba(0,0,0,1); /* preto por padrão (modo claro) */
  --shadow-border-color: rgba(0,0,0,1);
}

.dark{
  --shadow-bg-color: rgba(255,255,255,1); /* branco no modo escuro */
  --shadow-border-color: rgba(255,255,255,1);
}

.sombra-azul{
  border: 1px solid var(--color-primary);
  box-shadow: 3px 2px 0 0 var(--color-primary);
  padding: 1px 1rem;
  border-radius: 0.375rem;    
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.sombra-azul-redonda{
  border: 1px solid var(--color-primary);
  box-shadow: 3px 2px 0 0 var(--color-primary);
  padding: 1px 1rem;
  border-radius: 1rem;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.sombra-secundaria {
  border: 1px solid var(--shadow-border-color);
  box-shadow: 3px 2px 0 0 var(--shadow-bg-color);
  padding: 1px 1rem;
  border-radius: 1rem;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}