@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import "tailwindcss";

:root {
  --font-brand: "Allura", cursive;
}

/* =========================
   LIGHT MODE (padrão)
========================= */

@theme {
  /* Brand */
  --color-primary: #042C7F;
  --color-primary-light: #3B82F6;
  --color-primary-dark: #1E40AF;

--color-secondary: #0F766E;

  /* Status */
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #ff0000;
  --color-info: #0EA5E9;

  /* Layout */
  --color-bg: #EFF2FF;
  --color-bg-secondary: #FFFFFF;
  --color-bg-tertiary: #E0E7FF;
  --color-text: #0F172A;
  --color-text-muted: #475569;
  --color-border: #CBD5E1;
  --color-purple: #6366F1;
}

/* =========================
   DARK MODE
========================= */
.dark {
  --color-bg: #0F172A;
  --color-bg-secondary: #020617;
  --color-bg-tertiary: #1E293B;
  --color-text: #F8FAFC;
  --color-text-muted: #94A3B8;
  --color-border: #334155;
}

.gradient-border-half-right {
  background: linear-gradient(
    to right,
    var(--color-border) 0%,
    var(--color-border) 50%,
    var(--color-info) 70%,
    var(--color-primary-light) 100%
  );
}

.gradient-border-half-left {
  background: linear-gradient(
    to left,
    var(--color-border) 0%,
    var(--color-border) 50%,
    var(--color-info) 70%,
    var(--color-primary-light) 100%
  );
}